@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 14px;
    width: 384px;
    height: 500px;
    max-height: 500px;
}

.modal-header {
    border-bottom: 0.5px solid #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
}

h1 {
    font-size: 22px;
    font-weight: 400;
    color: #02264a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    width: 40px;
}

#version {
    font-size: 14px;
    padding: 5px;
}

.modal-content {
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#note-title {
    outline: none;
    border: 1.5px solid #02264a;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    width: 98%;
    margin: 10px 0;
}

#note-text {
    outline: none;
    resize: none;
    border: 1.5px solid #02264a;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
}

#actions {
    margin: 10px 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#show-btn {
    text-decoration: none;
}

.button {
    outline: none;
    border: 1.5px solid #02264a;
    background-color: #378bdf;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    min-width: 80px;
}

.button:hover {
    background-color: #2e73b8;
    transform: scale(1.01);
}

#success-msg {
    color: #4BB543;
    display: none;
}